<div class="container center">
  <div class="row">
  <div class="col offset-m3 s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <p>My love of photography began when I was very young. 
        I realized I love to caputure the moments that make people smile. I currently use
        a Canon Rebel T6.</p>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("me.jpeg") %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">New Camera<i class="fas fa-plus right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="fas fa-minus right"></i></span>
        <p>This image was edited in Photoshop</p>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("plant.jpeg") %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Pepper Blossom<i class="fas fa-plus right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="fas fa-minus right"></i></span>
        <p>This image was edited in Photoshop</p>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("butterfly.jpeg") %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Butterfly<i class="fas fa-plus right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="fas fa-minus right"></i></span>
        <p>This image was edited in Photoshop</p>
        <p>Taken at Clemson Botanical Gardens</p>
      </div>
    </div>
  </div>
  </div>
  
  <div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("red_plant.jpeg") %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Trip to Clemson Botanical Gardens<i class="fas fa-plus right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="fas fa-minus right"></i></span>
        <p>This image was edited in Photoshop</p>
        <p>Taken at Clemson Botanical Gardens</p>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("green_plant.jpeg") %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">In the Sun<i class="fas fa-plus right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="fas fa-minus right"></i></span>
        <p>This image was edited in Photoshop</p>
        <p>Taken at Clemson Botanical Gardens</p>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("table_rock.jpeg") %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Table Rock<i class="fas fa-plus right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="fas fa-minus right"></i></span>
        <p>This image was edited in Photoshop</p>
        <p>Taken at Table Rock, SC</p>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("wandering.jpeg") %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Edge of the Word<i class="fas fa-plus right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="fas fa-minus right"></i></span>
        <p>This image is not edited</p>
      </div>
    </div>
  </div>
  </div>

  <div class="row">
  <div class="col offset-m2 s12 m8">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <%= image_tag("tree.jpeg") %>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Iced Over<i class="fas fa-plus right"></i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4"><i class="fas fa-minus right"></i></span>
        <p>This image is not edited</p>
      </div>
    </div>
  </div>
  </div>


</div>
